

.about-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap; /* Allow items to wrap to the next line if needed */
    margin: 50px 0;
  }
  
  .mission, .vision {
    text-align: center;
    width: 500px;
     /* Set a fixed width for better alignment */
  }
  
  .mission h2, .vision h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .mission p, .vision p {
    color: #666;
    text-align: start;
  }
  
  .about-image {
    width: 50px; /* Set the width of the additional images */
    height: auto; /* Auto height to maintain aspect ratio */
    margin-right: 20px;
     /* Add margin to separate images from text */
  }
  
  .mission-image, .vision-image {
    width: 500px;
    height: 300px;
    border-radius: 10%;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  
  .center-button {
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: xx-large;
    font-family: 'Times New Roman', Times, serif;
  }
  
  .learn-more-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #f8f6f6;
    color: rgb(32, 153, 181);
    text-decoration: none;
    border-radius: 20px;
    transition: background-color 0.3s ease;
    border: 5px solid rgb(42, 154, 194);
    width: 350px;
    margin-top: 30px;
    height: 40px;
  }
  
  .learn-more-button:hover {
    background-color: #cfeaea;
  }
 
  
  .additional-images-container {
    display: flex;
    justify-content: space-between; /* Adjust as needed */
  }
  .additional-image1 {
    width: 200px;
    height: 100px; /* Adjust the width of the images */
    margin: 10px; /* Adjust margin as needed */
  }
  .additional-image2 {
    width: 150px;
    height: 60px; /* Adjust the width of the images */
    margin: 10px;
    margin-top: 20px; /* Adjust margin as needed */
  }
  .additional-image3 {
    width: 150px;
    height: 40px; /* Adjust the width of the images */
    margin: 10px; 
    margin-top: 22px;/* Adjust margin as needed */
  }
  .additional-image4 {
    width: 200px;
    height: 85px; /* Adjust the width of the images */
    margin: 10px;
    margin-top: 15px; /* Adjust margin as needed */
  }