.background-container {
    position: relative;
    width: 100%;
    height: 90vh;
    overflow: hidden;
    align-items: center;
    
    margin-top: 100px;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/public/assets/teeth.jpeg'); /* Replace with your image path */
    background-size: cover;
    filter: blur(10px); /* Optional: Add blur effect */
    z-index: -1;
}

.content {
    position: relative;
    z-index: 1;
    padding: 20px;
    color: rgb(3, 3, 3);
    
}

.background-container h1{
    text-align: center;
    color :rgb(237, 238, 171);
    font-weight: bolder;
    font-size: 80px;

}
input[type="email"]{
    padding: 5px 10px; /* Increase padding to make elements larger */
    font-size: 14px; 
    /* Increase font size */
}


/* Assuming the form-group class wraps each label and input */
.form-group {
    display: flex;
    align-items: center; /* Align items vertically */
    margin-bottom: 20px;
  
    /* Increase spacing between form groups */
}


label {
    width: 50px; /* Increase the width of the label */
    margin-right: 10px;   
}

button {
    padding: 10px 20px;
    background-color: #070707;
    color: #fff;
    border: none;
    height: 35px; /* Setting height */
    text-align: center; /* Centering text */
    cursor: pointer;
    font-size: 10px;
    outline: none;
    font-weight: bold;
    /* Remove margin-top */
}
button:hover {
    background-color: #333436;
}

.book-now-button{
    text-align: center;
    color: #f4f5f6;
    font-size: x-large;
    font-weight: bold;
    border-radius: 150px;
    width: 300px;
    margin-left: 450px;
    height:70px;
    background-color: #a22020;
}
.book-now-button:hover{
    background-color: #871717;
}

.download-images  {
    margin-left: 800px;
    flex-direction: column;
    align-items: flex-end;
}

.download-images img {
    align-items: center;
    width: 200px;
    padding: 10px;
    margin-bottom: 50px;
    justify-content: space-between;/* Adjust margin as needed */
}

.visit p{
   
    margin-left: 810px;
}
.visit img{
    margin-top: -800px;
    margin-left: 925px;
    margin-bottom: 50px;
}