.footer {
    background-color: #245aab;
    color: #fff;
    padding: 0px 0;
    height: 300px;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footer-column {
    flex: 1;
    margin: 0 10px;
    text-align: center;
}

.footer-column h3 {   
    font-size: 18px;
}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column ul li {
    margin-bottom: 10px;
    font-size: 20px;
}

.footer-column ul li a {
    color: #fff;
    text-decoration: none;
    font-size:12px;
}

.footer-column ul li a:hover {
    text-decoration: underline;
}

.footer-bottom {
    background-color: #245aab;
    color: #fff; /* Change color to white */
    text-align: center;
}

.footer-bottom a {
    color: #fff; /* Change color to white */
    text-decoration: none; /* Remove default underline */
}

.footer-bottom a:hover {
    text-decoration: underline; /* Add underline on hover */
}

.footer-bottom p {
    margin: 0;
    font-size: 10px;
    height: 20px;
    margin-top: 35px;
}

.social-images img {
    width: 22px;
    height: 20px;
    padding: 5px;
    border-radius: 10px;
}
