.navbar {
  background-color: #324ba6; /* Background color of the navbar */
  padding: 10px 10px; /* Padding around navbar content */
  display: flex; /* Display navbar content in a row */
  justify-content: space-between; /* Align content at the start and end */
  align-items: center;
  height:40px; /* Align items vertically in the center */
}

.navbar-brand {
  margin-right: 20px; /* Add margin between brand and contact info */
}

.navbar-logo {
  color: #fff; /* Text color of the logo */
  font-size:2rem; /* Font size of the logo */
  text-decoration: none; 
  text-align: center;/* Remove underline from logo */
}

.location-icon {
  width: 20px; /* Set width of the icon */
  height: 22px; /* Set height of the icon */
  margin-right: 5px; /* Add margin between the icon and text */
}

.navbar-contact-info {
  display: flex; /* Display contact info in a row */
  color: #fff; /* Text color of contact info */
  font-size: 0.9rem; /* Font size of contact info */
}

.nav-item {
  margin-right: 20px; /* Add margin between contact info */
}

.nav-item img {
  border-radius: 15px;
  margin-top: 15px;
  width: 15px;
  height: 15px;
}

.nav-link {
  color: #fff; /* Text color of navigation links */
  text-decoration: none; /* Remove underline from links */
  
}

.login-button {
  padding: 8px 16px; /* Adjust padding as needed */
  padding-left: 20px; /* Change padding from the left end */
  background-color: #a22020; /* Button background color */
  color: #e8e3e3; /* Button text color */
  border: none; /* Remove border */
  border-radius: 20px; /* Add border radius */
  cursor: pointer; /* Change cursor to pointer on hover */
  font-size: large;
  font-weight: bold;
  margin-bottom: 15px;
}

.login-button:hover {
  background-color: #7c2929; /* Change background color on hover */
}

.search-icon {
  margin-top: 15px;
  
  width: 25px; /* Set width of the icon */
  height: 25px; /* Set height of the icon */
  border-radius: 20px;/* Add margin between the icon and text */
  /* Automatically push the image to the right end */
}


.navbar-brand img {
  border-radius: 25px;
  margin-top: 15px;
  width: 30px;
  height: 30px;
}
.navbar-search {
  display: flex;
  align-items: center; /* Align items vertically */
  margin-left: auto;
  margin-right: 20px; 
  /* Push the search bar to the right end of the navbar */
}




