.navbar {
    background-color: #245aab; /* Background color of the navbar */
    padding: 10px 20px; /* Padding around navbar content */
    display: flex; /* Display navbar content in a row */
    justify-content: space-between; /* Align content at the start and end */
    align-items: left; /* Align items vertically in the center */
  }
  
  .navbar-brand {
    margin-right: 20px; /* Add margin between brand and contact info */
  }
  
  .navbar-logo {
    color: #fff; /* Text color of the logo */
    font-size: 1.5rem; /* Font size of the logo */
    text-decoration: none; /* Remove underline from logo */
  }
  .location-icon {
  width: 20px; /* Set width of the icon */
  height: 22px; /* Set height of the icon */
  margin-right: 5px; /* Add margin between the icon and text */
}

  .navbar-contact-info {
    display: flex; /* Display contact info in a row */
    color: #fff; /* Text color of contact info */
    font-size: 0.9rem; /* Font size of contact info */
  }
  
  .nav-item {
    margin-right: 20px; /* Add margin between contact info */
  }
  
  .nav-link {
    color: #fff; /* Text color of navigation links */
    text-decoration: none; /* Remove underline from links */
    font-family: 'Times New Roman', Times, serif;
  }
  
  
  .login-button {
    padding: 8px 16px; /* Adjust padding as needed */
    padding-left: 20px; /* Change padding from the left end */
    background-color: #a22020; /* Button background color */
    color: #e8e3e3; /* Button text color */
    border: none; /* Remove border */
    border-radius: 20px; /* Add border radius */
    cursor: pointer; /* Change cursor to pointer on hover */
    font-size: large;
    font-weight: bold;
  }
  
  
  .login-button:hover {
    background-color: #7c2929; /* Change background color on hover */
  }
  .navbar-search {
    display: flex;
    align-items:flex-end; /* Align items vertically */
    justify-content: flex-end; /* Align items to the right end */
  }

  
  .search-icon {
    margin-bottom: 10px; 
    width: 20px; /* Set width of the icon */
  height: 20px; /* Set height of the icon */
 /* Add margin between the icon and text *//* Automatically push the image to the right end */
  }
  
.navbar-search .nav-link {
  margin-right: 10px;
}
  