/* Style for the background image */
/* Style for the background image */
.back-image {
  background-image: url('/public/assets/feedback.png');
  background-size: cover;
  background-position: center;
  height: 700px;
  display: flex;
  justify-content: center; /* Align container horizontally at the center */
  align-items: center; /* Align container vertically at the center */
}

.back-image .home-link {
  position: absolute;
  top: 70px;
  left: 20px;
  color: #040404;
  text-decoration: none;
  font-size: 16px;
  display: flex;
  align-items: center;
}

.back-image .home-link::before {
  content: '\2190'; /* Unicode character for left arrow */
  margin-right: 5px;
  font-size: 20px;
}
/* Style for the container */
.container {
  width:500px;
  padding: 40px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  text-align: center;
}


/* Style for the review form */
.review-form {
  margin-top: 20px;
}

.review-form label {
  display: block;
  margin-bottom: 10px; /* Increased margin-bottom */
}
.review-form input[type="text"]{
  width: 90%;
  padding: 12px;
  height: 10px; /* Increased padding */
  margin-bottom: 15px; /* Increased margin-bottom */
  border: 1px solid #ccc;
  border-radius: 5px;

}

.review-form textarea {
  width: 90%;
  padding: 12px;
  height: 100px; /* Increased padding */
  margin-bottom: 15px; /* Increased margin-bottom */
  border: 1px solid #ccc;
  border-radius: 5px;

}

.review-form button {
  padding: 12px 24px; /* Increased padding */
  background-color: #324ba6;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.review-form button:hover {
  background-color: #2a3e7b;
}
